<tr>
  <td>
    <div class="flex-vcenter">
      <% if (tx.blk) { %>
        <a href="#block/<%= tx.blk.i %>"><%= tx.blk.i %></a>
      <% } else { %>
        <a href="#block/mempool">Pending</a>
      <% } %>
    </div>
  </td>
  <td>
    <div class="flex-vcenter">
      <a class="txid" href="/#tx/<%= tx.tx.h %>"><%= app.util.compress_txid(tx.tx.h) %></a>
    </div>
  </td>
  <td>
    <div class="flex-vcenter">
      <% if (tx.slp.detail.transactionType === 'SEND') { %>
        <% if (tx.in.filter((v) => v.e.a === address).length) {%>SENT<% } else { %>RECV<% } %>
      <% } else { %>
        <%= tx.slp.detail.transactionType %>
      <% } %>
    </div>
  </td>
  <td class="amount">
    <% if (tx.slp.detail.transactionType === 'SEND') { %>
      <% if (tx.in.filter((v) => v.e.a === address).length) {%>
        <%= app.extract_sent_amount_from_tx(tx) %>
      <% } else { %>
        <%= app.extract_recv_amount_from_tx(tx, address) %>
      <% } %>
    <% } %>
    <% if (tx.slp.detail.transactionType === 'GENESIS'
        || tx.slp.detail.transactionType === 'MINT') { %>
      <%= tx.slp.detail.outputs[0].amount %>
    <% } %>
  </td>
  <td>
    <div class="flex-vcenter">
      <span class="token-icon-small" data-tokenid="<%= tx.slp.detail.tokenIdHex %>"></span>
      <% if (tx.token[0].tokenDetails.symbol.length > 0) { %>
        <a href="#token/<%= tx.slp.detail.tokenIdHex %>"><%= tx.token[0].tokenDetails.name %> $<%= tx.token[0].tokenDetails.symbol %></a>
      <% } else { %>
        <span class="mono"><a href="#token/<%= tx.slp.detail.tokenIdHex %>">[none]</a></span>
      <% } %>
    </div>
  </td>
</tr>
