<div class="transaction_box">
  <div>
    <div>
      <div class="address-qr-code left" id="qrcode-address-<%= address %>"></div>
    </div>
    <div>
      <h2>Address</h2>
    </div>
    <h6><%= address %></h6>
    <a target="_blank" href="https://explorer.bitcoin.com/bch/address/<%= address %>">
      <button type="button" class="button button_green right">View on BCH Explorer</button>
    </a>
  </div>
</div>

<div class="rounded_row">
  <div id="address-tokens-table-container" class="rounded box-shadow table-container">
    <h3>Token Balances (<%= Number(total_tokens).toLocaleString() %>)</h3>
    <div class="table-responsive">
      <table class="table" id="address-tokens-table">
        <thead>
          <tr>
            <th data-tippy-content="The Token Id is the transaction id of the genesis transaction of the token.">Token Id</th>
            <th>Name</th>
            <th>Symbol</th>
            <th class="amount">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>loading...</td><tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination">
    </ul>
  </div>
</div>

<div class="rounded_row">
  <div id="address-transactions-table-container" class="rounded box-shadow table-container">
    <h3>Transactions (<%= Number(total_transactions).toLocaleString() %>)</h3>
    <div class="table-responsive">
      <table class="table" id="address-transactions-table">
        <thead>
          <tr>
            <th>Txid</th>
            <th>Type</th>
            <th class="amount">Amount</th>
            <th>Token</th>
            <th>Block</th>
            <th>Block Time</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>loading...</td></tr>
        </tbody>
      </table>
      <ul class="pagination">
      </ul>
    </div>
  </div>
</div>

<div class="rounded_row">
  <h3>Monthly Transaction Graph</h3>
  <div id="plot-address-monthly-usage" style="width:100%"></div>
</div>
