<div class="transaction_box">
  <div class="lh-100">
    <h2 class="mb-0 text-white lh-100">Address</h2>
    <h6 class="mb-0"><%= address %></h6>
    <a href="#addressgraph/<%= address %>">
      <button type="button" class="button button_red">View AddressGraph</button>
    </a>
    <a target="_blank" href="https://explorer.bitcoin.com/bch/address/<%= address %>">
      <button type="button" class="button button_green right">View on BCH Explorer</button>
    </a>
  </div>
</div>

  <div class="rounded_row">
    <div id="address-tokens-table-container" class="my-3 p-3 bg-white rounded box-shadow table-container">
      <h3 class="border-bottom border-gray pb-1 mb-3">Token Balances</h3>
      <% if (tokens.length === 0) { %>
        <h6>This address must not have any token balances</h6></h6>
      <% } else { %>
        <div class="table-responsive">
          <table class="table" id="address-tokens-table">
            <thead>
              <tr>
                <th>Token Id</th>
                <th>Name</th>
                <th>Symbol</th>
                <th class="amount">Balance</th>
              </tr>
            </thead>
            <tbody>
              <% for (let o of tokens) { %>
                <tr>
                  <td><a class="tokenid" href="/#token/<%= o.tokenDetails.tokenIdHex %>"><%= app.util.compress_tokenid(o.tokenDetails.tokenIdHex) %></a></span></td>
                  <td><%= tx_tokens[o.tokenDetails.tokenIdHex].tokenDetails.name %></td>
                  <td><%= tx_tokens[o.tokenDetails.tokenIdHex].tokenDetails.symbol %></td>
                  <td class="amount"><%= o.token_balance %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
  </div>
  <div class="rounded_row">
    <div id="address-transactions-table-container" class="my-3 p-3 bg-white rounded box-shadow table-container">
      <h3 class="border-bottom border-gray pb-1 mb-3">Transactions</h3>
      <% if (transactions.length === 0) { %>
        <h6>This address hasn't made a SLP transaction</h6></h6>
      <% } else { %>
        <div class="table-responsive">
          <table class="table" id="address-transactions-table">
            <thead>
              <tr>
                <th>Block</th>
                <th>Txid</th>
                <th>Type</th>
                <th class="amount">Amount</th>
                <th>Token</th>
              </tr>
            </thead>
            <tbody>
              <% const cash_address = slpjs.Utils.toCashAddress(address).split(':')[1]; %>
              <% for (let o of transactions) { %>
                <tr>
                  <td><% if (o.blk) { %><%= o.blk.i %><% } else { %>Pending<% } %></td>
                  <td><a class="txid" href="/#tx/<%= o.tx.h %>"><%= app.util.compress_txid(o.tx.h) %></a></td>
                  <td>
                    <% if (o.slp.detail.transactionType === 'SEND') { %>
                      <% if (o.in.filter((v) => v.e.a === cash_address).length) {%>SENT<% } else { %>RECV<% } %>
                    <% } else { %>
                      <%= o.slp.detail.transactionType %>
                    <% } %>
                  </td>
                  <td class="amount">
                    <% if (o.slp.detail.transactionType === 'SEND') { %>
                      <% if (o.in.filter((v) => v.e.a === cash_address).length) {%>
                        <%= app.extract_sent_amount_from_tx(o) %>
                      <% } else { %>
                        <%= app.extract_recv_amount_from_tx(o, address) %>
                      <% } %>
                    <% } %>
                    <% if (o.slp.detail.transactionType === 'GENESIS'
                        || o.slp.detail.transactionType === 'MINT') { %>
                      <%= o.slp.detail.outputs[0].amount %>
                    <% } %>
                  </td>
                  <td>
                    <% if (tx_tokens.hasOwnProperty(o.slp.detail.tokenIdHex)) { %>
                      <% if (tx_tokens[o.slp.detail.tokenIdHex].tokenDetails.symbol.length > 0) { %>
                        <a href="/#token/<%= o.slp.detail.tokenIdHex %>"><%= tx_tokens[o.slp.detail.tokenIdHex].tokenDetails.name %> $<%= tx_tokens[o.slp.detail.tokenIdHex].tokenDetails.symbol %></a>
                      <% } else { %>
                        <span class="mono"><a href="/#token/<%= o.slp.detail.tokenIdHex %>">[none]</a></span>
                      <% } %>
                    <% } else {%>
                      <span class="mono"><a href="/#token/<%= o.slp.detail.tokenIdHex %>">[not found]</a></span>
                    <% } %>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
  </div>
