<div class="d-flex align-items-center p-3 my-3 text-white-50 page-header rounded box-shadow">
  <div class="lh-100">
    <h2 class="mb-0 text-white lh-100">Address</h2>
    <h6 class="mb-0"><%= address %></h6>
    <a href="https://explorer.bitcoin.com/bch/address/<%= address %>">
      <button type="button" class="btn btn-raised btn-success special-layover-btn">View on BCH Explorer</button>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="address-tokens-table-container" class="my-3 p-3 bg-white rounded box-shadow table-container">
      <h3 class="border-bottom border-gray pb-1 mb-3">Token Balances</h3>
      <% if (tokens.length === 0) { %>
        <h6>This address must not have any balances</h6></h6>
      <% } else { %>
        <div class="table-responsive">
          <table class="table" id="address-tokens-table">
            <thead>
              <tr>
                <th>Token Id</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <% for (let o of tokens) { %>
                <tr>
                  <td><span class="mono"><a href="/#token/<%= o.tokenDetails.tokenIdHex %>"><%= o.tokenDetails.tokenIdHex %></a></span></td>
                  <td><%= o.tokenDetails.name %></td>
                  <td><%= o.tokenDetails.symbol %></td>
                  <td><%= o.token_balance %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
  </div>
  <div class="col-md-6">
    <div id="address-transactions-table-container" class="my-3 p-3 bg-white rounded box-shadow table-container">
      <h3 class="border-bottom border-gray pb-1 mb-3">Transactions</h3>
      <% if (transactions.length === 0) { %>
        <h6>This address hasn't made a SLP transaction</h6></h6>
      <% } else { %>
        <div class="table-responsive">
          <table class="table" id="address-transactions-table">
            <thead>
              <tr>
                <th>Block</th>
                <th>Txid</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Symbol</th>
                <th>Token Id</th>
              </tr>
            </thead>
            <tbody>
              <% for (let o of transactions) { console.log(tx_tokens[o.slp.detail.tokenIdHex]); %>
                <tr>
                  <td><% if (o.blk) { %><%= o.blk.i %><% } %></td>
                  <td><a href="/#tx/<%= o.tx.h %>"><i class="material-icons">exit_to_app</a></td>
                  <td><%= o.slp.detail.transactionType %></td>
                  <td>
                    <% if (o.slp.detail.transactionType === 'SEND') { %>
                      <%= app.extract_sent_amount_from_tx(o) %>
                    <% } %>
                    <% if (o.slp.detail.transactionType === 'GENESIS'
                        || o.slp.detail.transactionType === 'MINT') { %>
                      <%= o.slp.detail.genesisOrMintQuantity.amount %>
                    <% } %>
                  </td>
                  <td><% if (tx_tokens.hasOwnProperty(o.slp.detail)) { %><%= tx_tokens[o.slp.detail.tokenIdHex].tokenDetails.symbol %><% } %></td>
                  <td><span class="mono"><a href="/#token/<%= o.slp.detail.tokenIdHex %>"><%= o.slp.detail.tokenIdHex %></span></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
  </div>
</div>
