<tr>
  <td class="nowrap">
    <a class="tokenid" href="/#token/<%= token.tokenDetails.tokenIdHex %>"><%= app.util.compress_tokenid(token.tokenDetails.tokenIdHex) %></a>
    <button class="copybtn" data-clipboard-text="<%= token.tokenDetails.tokenIdHex %>"></button>
  </td>
  <td class="nowrap">
    <div class="flex-vcenter">
      <span class="token-icon-small" data-tokenid="<%= token.tokenDetails.tokenIdHex %>" data-tokengroup="<%= token.nftParentId %>"></span>
      <%= token.tokenDetails.symbol %>
    </div>
  </td>
  <td class="nowrap"><%= app.util.compress_string(token.tokenDetails.name) %></td>
  <td><%= Number(token.tokenStats.approx_txns_since_genesis).toLocaleString() %></td>
  <td class="nowrap">
    <% if (token.tokenDetails.documentUri) { %>
      <% const url = app.util.document_link(token.tokenDetails.documentUri); %>
      <% if (url.length) { %>
        <a href="<%= url %>" target="blank"><%= app.util.compress_string(token.tokenDetails.documentUri) %></a>
      <% } else { %>
        <%= app.util.compress_string(token.tokenDetails.documentUri) %>
      <% } %>
    <% } %>
  </td>
</tr>
