<div class="d-flex align-items-center p-3 my-3 text-white-50 page-header rounded box-shadow">
  <div class="lh-100">
    <h2 class="mb-0 text-white lh-100">All Tokens</h2>
  </div>
</div>
<div id="tokens-table-container" class="my-3 p-3 bg-white rounded box-shadow table-container">
  <div class="table-responsive">
    <table class="table" id="tokens-table">
      <thead>
        <tr>
          <th>Token Id</th>
          <th>Symbol</th>
          <th>Name</th>
          <th>Transactions</th>
          <th>Utxos</th>
          <th>Addresses</th>
          <th>Document</th>
        </tr>
      </thead>
      <tbody>
      <% for (let m of t) { %>
        <tr>
          <td><a class="tokenid" href="/#token/<%= m.tokenDetails.tokenIdHex %>"><%= app.util.compress_tokenid(m.tokenDetails.tokenIdHex) %></a></td>
          <td class="nowrap"><%= m.tokenDetails.symbol %></td>
          <td class="nowrap"><%= app.util.compress_string(m.tokenDetails.name) %></td>
          <td><%= m.tokenStats.qty_valid_txns_since_genesis %></td>
          <td><%= m.tokenStats.qty_valid_token_utxos %></td>
          <td><%= m.tokenStats.qty_valid_token_addresses %></td>
          <td class="nowrap">
            <% if (m.tokenDetails.documentUri) { %>
              <% const url = app.util.document_link(m.tokenDetails.documentUri); %>
              <% if (url.length) { %>
                <a href="<%= url %>"><%= app.util.compress_string(m.tokenDetails.documentUri) %></a>
              <% } else { %>
                <%= app.util.compress_string(m.tokenDetails.documentUri) %>
              <% } %>
            <% } %>
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>
