<tr>
  <td>
    <a class="txid" href="/#tx/<%= tx.tx.h %>"><%= app.util.compress_txid(tx.tx.h) %></a>
    <button class="copybtn" data-clipboard-text="<%= tx.tx.h %>"></button>
  </td>
  <td><%= app.util.transaction_type_trans(tx.slp.detail.transactionType) %></td>
  <td class="amount">
    <% if (tx.slp.detail.transactionType === 'SEND') { %>
      <%= app.extract_sent_amount_from_tx(tx); %>
    <% } %>
    <% if (tx.slp.detail.transactionType === 'GENESIS'
        || tx.slp.detail.transactionType === 'MINT') { %>
      <%= tx.slp.detail.outputs[0].amount %>
    <% } %>
  </td>
  <td>
    <div class="flex-vcenter">
      <span class="token-icon-small" data-tokenid="<%= tx.token[0].tokenDetails.tokenIdHex %>" data-tokengroup="<%= tx.token[0].nftParentId %>"></span>
      <% if (tx.token[0].tokenDetails.symbol.length > 0) { %>
        <a href="/#token/<%= tx.slp.detail.tokenIdHex %>">
          <%= tx.token[0].tokenDetails.name %> $<%= tx.token[0].tokenDetails.symbol %>
        </a>
      <% } else { %>
        <span class="mono"><a href="/#token/<%= tx.slp.detail.tokenIdHex %>" data-i18n="none"></a></span>
      <% } %>
    </div>
  </td>
</tr>
