<tr>
  <td>
    <div class="flex-vcenter">
      <a class="tokenid" href="/#token/<%= tx.slp.detail.tokenIdHex %>">
        <%= app.util.compress_tokenid(tx.slp.detail.tokenIdHex) %>
      </a>
    </div>
  </td>
  <td>
    <div class="flex-vcenter">
      <span class="token-icon-small" data-tokenid="<%= tx.token[0].tokenDetails.tokenIdHex %>"></span>
      <% if (tx.token[0].tokenDetails.symbol.length > 0) { %>
        <a href="#token/<%= tx.token[0].tokenDetails.tokenIdHex %>"><%= tx.token[0].tokenDetails.name %> $<%= tx.token[0].tokenDetails.symbol %></a>
      <% } else { %>
        <span class="mono"><a href="#token/<%= tx.token[0].tokenDetails.tokenIdHex %>">[none]</a></span>
      <% } %>
    </div>
  </td>
  <td>
    <% if (tx.blk) { %>
      <a href="#block/<%= tx.blk.i %>"><%= tx.blk.i %></a>
    <% } else { %>
      <a href="#block/mempool">Pending</a>
    <% } %>
  </td>
  <td>
    <% if (tx.blk) { %>
      <%= new Date(tx.blk.t*1000).toLocaleString() %>
    <% } else { %>
      Pending
    <% } %>
  </td>
</tr>
