<div class="header_infobox">
  <img src="/img/slpdb.svg">
  <h2>The Simple Ledger Protocol Explorer</h2>
  <p>browse tokens built on Bitcoin Cash</p>
  <form class="form">
    <div class="md-form index-search-wrapper">
      <input class="index-search-input form-control" type="text" placeholder="Search by txid, address or token name.." aria-label="Search" id="main-search">
    </div>
  </form>
  <p class="normal">This website is built on top of <a target="_blank" href="https://github.com/simpleledger/SLPDB">SLPDB</a>, an offshoot of <a target="_blank" href="https://github.com/fountainhead-cash/bitd">BitDB FH</a>, view code and submit issues on <a target="_blank" href="https://github.com/blockparty-sh/slp-explorer">Github</a>.</p>
</div>

  <div class="row">
    <div class="">
      <div id="recent-transactions-table-container" class="">
        <h3 class="">Latest Transactions</h3>

        <% if (transactions.length === 0) { %>
            <h6>No recent transactions... is the SLPDB endpoint working?</h6></h6>
        <% } else { %>
          <div class="table-responsive">
            <table id="recent-transactions-table">
              <thead>
                <tr>
                  <th>Transaction Hash</th>
                  <th>Symbol</th>
                  <th class="amount">Amount</th>
                  <th>Block Height</th>
                  <th>Block Time</th>
                </tr>
              </thead>
              <tbody>
                <% for (let o of transactions) { %>
                  <% const sent_amount = app.extract_sent_amount_from_tx(o); %>
                  <% if (sent_amount === 0) continue; %>
                  <tr>
                    <td><a class="txid" href="/#tx/<%= o.tx.h %>"><%= app.util.compress_txid(o.tx.h) %></a></td>
                    <td>
                      <a href="#token/<%= o.slp.detail.tokenIdHex %>">
                      <% if (tx_tokens[o.slp.detail.tokenIdHex].tokenDetails.symbol) { %>
                        <%= tx_tokens[o.slp.detail.tokenIdHex].tokenDetails.symbol %>
                      <% } else { %>
                        <span class="mono">[none]</span>
                      <% } %>
                      </a>
                    </td>
                    <td class="amount"><%= sent_amount %></td>
                    <td><% if (o.blk) { %><%= o.blk.i %><% } else { %>Pending<% } %></td>
                    <td class="nowrap"><% if (o.blk) { %><%= new Date(o.blk.t*1000).toLocaleString() %><% } else { %>Pending<% } %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        <% } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="" id="plot-monthly-usage" style="width:100%; height:50vh"></div>
    <div class="" id="plot-token-usage" style="width:100%; height:50vh"></div>
  </div>

  <script>
