<% const sent_amount = app.extract_sent_amount_from_tx(tx); %>
<tr>
  <td class="nowrap">
    <div class="flex-vcenter">
      <a class="txid" href="/#tx/<%= tx.tx.h %>"><%= app.util.compress_txid(tx.tx.h) %></a>
      <button class="copybtn" data-clipboard-text="<%= tx.tx.h %>"></button>
    </div>
  </td>
  <td>
    <div class="flex-vcenter">
      <span class="token-icon-small" data-tokenid="<%= tx.token[0].tokenDetails.tokenIdHex %>" data-tokengroup="<%= tx.token[0].nftParentId %>"></span>
      <a href="/#token/<%= tx.slp.detail.tokenIdHex %>">
      <% if (tx.token[0].tokenDetails.symbol) { %>
        <%= tx.token[0].tokenDetails.symbol %>
      <% } else { %>
        <span class="mono" data-i18n="none"></span>
      <% } %>
      </a>
    </div>
  </td>
  <td class="amount">
    <%= sent_amount %>
  </td>
  <td>
    <div>
      <% if(tx.token[0].tokenDetails.versionType === 1) { %><span data-i18n="type1"></span><% } %>
      <% if(tx.token[0].tokenDetails.versionType === 129) { %><span data-i18n="nft1_group"></span><% } %>
      <% if(tx.token[0].tokenDetails.versionType === 65) { %>
        <a href="/#token/<%= tx.token[0].nftParentId %>" data-i18n="nft1_child"></a>
      <% } %>
    </div>
  </td>
  <td>
    <div class="flex-vcenter">
      <% if (tx.blk) { %>
        <a href="/#block/<%= tx.blk.i %>"><%= tx.blk.i %></a>
      <% } else { %>
        <a href="/#block/mempool" data-i18n="pending"></a>
      <% } %>
    </div>
  </td>
  <td class="nowrap">
    <div class="flex-vcenter">
      <% if (tx.blk) { %>
        <%= new Date(tx.blk.t*1000).toLocaleString() %>
      <% } else { %>
        <span data-i18n="pending"></span>
      <% } %>
    </div>
  </td>
</tr>
