<% const sent_amount = app.extract_sent_amount_from_tx(tx); %>
<tr>
  <td>
    <div class="flex-vcenter">
      <a class="txid" href="/#tx/<%= tx.tx.h %>"><%= app.util.compress_txid(tx.tx.h) %></a>
    </div>
  </td>
  <td>
    <div class="flex-vcenter">
      <span class="token-icon-small" data-tokenid="<%= tx.slp.detail.tokenIdHex %>"></span>
      <a href="#token/<%= tx.slp.detail.tokenIdHex %>">
      <% if (tx.token[0].tokenDetails.symbol) { %>
        <%= tx.token[0].tokenDetails.symbol %>
      <% } else { %>
        <span class="mono">[none]</span>
      <% } %>
      </a>
    </div>
  </td>
  <td class="amount">
    <div>
      <%= sent_amount %>
    </div>
  </td>
  <td>
    <div>
      <% if(tx.token[0].tokenDetails.versionType === 1) { %>Type1<% } %>
      <% if(tx.token[0].tokenDetails.versionType === 129) { %>NFT1-Group<% } %>
      <% if(tx.token[0].tokenDetails.versionType === 65) { console.log(tx); %>
        <a href="/#token/<%= tx.token[0].nftParentId %>">NFT1-Child [view parent]</a>
      <% } %>
    </div>
  </td>
  <td>
    <div class="flex-vcenter">
      <% if (tx.blk) { %>
        <a href="#block/<%= tx.blk.i %>"><%= tx.blk.i %></a>
      <% } else { %>
        <a href="#block/mempool">Pending</a>
      <% } %>
    </div>
  </td>
  <td class="nowrap">
    <div class="flex-vcenter">
      <% if (tx.blk) { %>
        <%= new Date(tx.blk.t*1000).toLocaleString() %>
      <% } else { %>
        Pending
      <% } %>
    </div>
  </td>
</tr>
