<div class="row super-wrapper">
  <div class="transaction_box">
    <div>
      <div class="token-icon-large left"><img src="/img/bch-logo.png"></div>
      <div>
        <h2 class="text-white" data-i18n="nonslp_transaction"></h2>
        <h6>
          <%= tx.tx.h %>
          <button class="copybtn" data-clipboard-text="<%= tx.tx.h %>"></button>
        </h6>
        <a target="_blank" href="https://explorer.bitcoin.com/bch/tx/<%= tx.tx.h %>">
          <button type="button" class="button right" data-i18n="view_on_bch_explorer"></button>
        </a>
      </div>
    </div>
  </div>
  
  <div class="rounded_row_50percent_container">
    <div class="rounded_row">
      <div class="col-md-6">
        <div class="rounded box-shadow table-container">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><h3 data-i18n="details"></h3></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th role="col" data-i18n="type"></th>
                  <td data-i18n="bch"></td>
                </tr>
                <tr>
                  <th role="col" data-i18n="block"></th>
                  <td>
                    <% if (tx.blk) { %>
                      <a href="#block/<%= tx.blk.i %>"><%= tx.blk.i %></a>
                    <% } else { %>
                      <a href="#block/mempool" data-i18n="pending"></a>
                    <% } %>
                  </td>
                </tr>
                <tr>
                  <th role="col" data-i18n="block_time"></th>
                  <td>
                    <% if (tx.blk) { %>
                      <%= new Date(tx.blk.t*1000).toLocaleString() %>
                    <% } else { %>
                      <span data-i18n="pending"></span>
                    <% } %>
                  </td>
                </tr>
                <tr>
                  <th role="col" data-i18n="txid"></th>
                  <td>
                    <a class="txid" href="#tx/<%= tx.tx.h %>"><%= tx.tx.h %></a>
                    <button class="copybtn" data-clipboard-text="<%= tx.tx.h %>"></button>
                  </td>
                </tr>
                <tr>
                  <th role="col" data-i18n="slp_invalid_reason"></th>
                  <td>
                    <% if (slp) { %>
                      <%= slp.invalidReason %>
                    <% } else { %>
                      <span data-i18n="this_is_not_a_slp_transaction"></span>
                    <% } %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="rounded_row_50percent_container">
    <div class="rounded_row">
      <div class="input_output" id="inputs-list">
        <div class="rounded box-shadow table-container">
          <h3 data-i18n="inputs"></h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th data-i18n="tx"></th>
                  <th data-i18n="vout"></th>
                  <th class="amount" data-i18n="amount"></th>
                  <th data-i18n="address"></th>
                </tr>
              </thead>
              <tbody>
                <% if (tx.in.length > 0) { %>
                  <% for (let m of tx.in) { %>
                    <% if (input_amounts[m.e.h+':'+m.e.i]) { %>
                      <tr>
                        <td><a class="txid" href="/#tx/<%= m.e.h %>/o<%= m.e.i %>" style="font-weight:bold">&larr;</a></td>
                        <td><%= m.e.i %></td>
                        <td class="amount">
                           <%= app.util.format_bignum_bch_str(input_amounts[m.e.h+':'+m.e.i])  %>
                        </td>
                        <td>
                          <% if (typeof m.e.a !== 'undefined') { %>
                            <a class="address" href="/#address/bitcoincash:<%= m.e.a %>">bitcoincash:<%= m.e.a %></a>
                            <button class="copybtn" data-clipboard-text="bitcoincash:<%= m.e.a %>"></button>
                          <% } else { %>
                            <span data-i18n="slpdb_address_error"></span>
                          <% } %>
                        </td>
                      </tr>
                    <% } %>
                  <% } %>
                <% } else { %>
                  <tr>
                    <td data-i18n="no_inputs"></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="rounded_row">
        <div class="input_output" id="outputs-list">
          <div class="rounded box-shadow table-container">
            <h3 data-i18n="outputs"></h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th data-i18n="tx"></th>
                    <th data-i18n="vout"></th>
                    <th class="amount" data-i18n="amount"></th>
                    <th data-i18n="address"></th>
                  </tr>
                </thead>
                <tbody>
                  <% if (tx.out.length > 0) { %>
                    <% for (let m of tx.out) { %>
                      <tr>
                        <td>
                          <% if (m['spendTxid']) { %>
                            <a class="txid" href="/#tx/<%= m['spendTxid'] %>/i<%= m['spendVout'] %>" style="font-weight:bold">
                                &#10004;
                            </a>
                          <% } %>
                        </td>
                        <td><%= m.e.i %></td>
                        <td class="amount">
                          <%= app.util.format_bignum_bch_str(m.e.v) %>
                        </td>
                        <td>
                          <% if (m.e.a) { %>
                            <a class="address" href="/#address/bitcoincash:<%= m.e.a %>">
                              bitcoincash:<%= m.e.a %>
                            </a>
                            <button class="copybtn" data-clipboard-text="bitcoincash:<%= m.e.a %>"></button>
                          <% } else { %>
                            <%= m.str %>
                          <% } %>
                        </td>
                      </tr>
                    <% } %>
                  <% } else { %>
                    <tr>
                      <td data-i18n="no_outputs"></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
