<div class="row super-wrapper">
  <div class="transaction_box">
    <div>
      <div class="token-icon-large left" data-tokenid="<%= token.tokenDetails.tokenIdHex %>"></div>
      <div>
        <h2 class="text-white">
          <% if (token.tokenDetails.symbol) { %>
            <%= token.tokenDetails.symbol %>
          <% } else if (token.tokenDetails.name !== '') { %>
            <%= token.tokenDetails.name %>
          <% } %>
          <span data-i18n="token"></span>
        </h2>
      </div>
      <h6>
        <%= token.tokenDetails.tokenIdHex %>
        <button class="copybtn" data-clipboard-text="<%= token.tokenDetails.tokenIdHex %>"></button>
      </h6>
      <a target="_blank" href="https://explorer.bitcoin.com/bch/tx/<%= token.tokenDetails.tokenIdHex %>">
        <button type="button" class="button right" data-i18n="view_on_bch_explorer"></button>
      </a>
    </div>
  </div>
  
  <div class="rounded_row_50percent_container">
    <div class="rounded_row">
      <div id="token-details-table-container" class="rounded box-shadow table-container">
        <div class="table-responsive">
          <table class="table" id="token-details-table">
            <thead>
              <tr>
                <td>
                    <h3 data-i18n="details"></h3>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" data-i18n="token_id"></th>
                <td>
                  <a class="tokenid" href="/#token/<%= token.tokenDetails.tokenIdHex %>"><%= token.tokenDetails.tokenIdHex %></a>
                  <button class="copybtn" data-clipboard-text="<%= token.tokenDetails.tokenIdHex %>"></button>
                </td>
              </tr>
              <tr>
                <th scope="row" data-i18n="version"></th>
                <td>
                <% if(token.tokenDetails.versionType === 1) { %><span data-i18n="type1"></span><% } %>
                <% if(token.tokenDetails.versionType === 129) { %><span data-i18n="nft1_group"></span><% } %>
                <% if(token.tokenDetails.versionType === 65) { %>
                  <a href="/#token/<%= token.nftParentId %>"><span data-i18n="nft1_child"></span></a>
                  <button class="copybtn" data-clipboard-text="<%= token.nftParentId %>"></button>
                <% } %>
                </td>
              </tr>
              <tr>
                <th scope="row" data-i18n="name"></th>
                <td><%= token.tokenDetails.name %></td>
              </tr>
              <tr>
                <th scope="row" data-i18n="symbol"></th>
                <td><%= token.tokenDetails.symbol %></td>
              </tr>
              <tr>
                <th scope="row" data-i18n="timestamp"></th>
                <td>
                  <% if (token.tokenDetails.timestamp_unix === null) { %>
                    <span data-i18n="pending"></span>
                  <% } else { %>
                    <%= new Date(token.tokenDetails.timestamp_unix*1000).toLocaleString() %>
                  <% } %>
                </td>
              </tr>
              <tr>
                <th scope="row" data-i18n="details"></th>
                <td><%= token.tokenDetails.decimals %></td>
              </tr>
              <tr>
                <th scope="row" data-i18n="document_uri"></th>
                <td>
                  <% if (token.tokenDetails.documentUri) { %>
                    <% const url = app.util.document_link(token.tokenDetails.documentUri); %>
                    <% if (url.length) { %>
                      <a href="<%= url %>" target="blank"><%= token.tokenDetails.documentUri %></a>
                    <% } else { %>
                      <%= token.tokenDetails.documentUri %>
                    <% } %>
                  <% } %>
                </td>
              </tr>
              <tr>
                <th scope="row" data-i18n="document_checksum"></th>
                <td><span class="mono word-break-all"><%= token.tokenDetails.documentSha256Hex %></span></td>
              </tr>
              <tr>
                <th scope="row" data-i18n="verified"></th>
                <td>
                  <% if (app.util.is_verified(token.tokenDetails.tokenIdHex)) { %>
                    <img src="/img/verified-checkmark.png">
                  <% } else { %>
                    <img src="/img/verified-empty.png">
                  <% } %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div>
          <!-- <div id="token-exchange-title">Exchange</div> -->
          <div id="token-exchange-exchanges">
          </div>
        </div>
      </div>
    </div>

    <div class="rounded_row">
      <div id="token-stats-table-container" class="rounded box-shadow table-container loading">
        <div class="table-responsive">
          <table class="table" id="token-stats-table">
            <thead>
              <tr>
                <td>
                    <h3 data-i18n="stats"></h3>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th data-i18n="block_created"></th>
                <td>
                  <% if (token.tokenStats.block_created !== null) { %>
                    <a href="#block/<%= token.tokenStats.block_created %>"><%= token.tokenStats.block_created %></a>
                  <% } else { %>
                    <a href="#block/mempool" data-i18n="pending"></a>
                  <% } %>
                </td>
              </tr>
              <tr>
                <th scope="row" data-i18n="minting_baton_status"></th>
                <td>
                  <%= token.mintBatonStatus.split('_').map(v => v[0].toUpperCase() + v.substring(1).toLowerCase()).join(' ') %>
                </td>
              </tr>
              <% if (token.mintBatonUtxo && token.mintBatonUtxo.split(':').length === 2) { %>
              <tr>
                <th scope="row" data-i18n="minting_baton_utxo"></th>
                <td>
                  <a href="#tx/<%= token.mintBatonUtxo.split(':')[0] %>">
                    <% const mintBatonUtxoParts = token.mintBatonUtxo.split(':'); %>
                    <%= app.util.compress_txid(mintBatonUtxoParts[0]) %>:<%= mintBatonUtxoParts[1] %>
                  </a>
                </td>
              </tr>
              <% } %>
              <tr>
                <th scope="row" data-i18n="tokenstats_valid_token_transactions"></th>
                <td class="amount" id="tokenstats_valid_token_transactions">...</span></td>
              </tr>
              <tr>
                <th scope="row" data-i18n="tokenstats_valid_token_utxos"></th>
                <td class="amount" id="tokenstats_valid_token_utxos">...</td>
              </tr>
              <tr>
                <th scope="row" data-i18n="tokenstats_valid_token_addresses"></th>
                <td class="amount" id="tokenstats_valid_token_addresses">...</td>
              </tr>
              <tr>
                <th scope="row" data-i18n="tokenstats_satoshis_locked_up"></th>
                <td class="amount" id="tokenstats_satoshis_locked_up">...</td>
              </tr>
              <tr class="decimal-stats">
                <th scope="row" data-i18n="tokenstats_tokens_minted"></th>
                <td class="amount" id="tokenstats_tokens_minted">...</td>
              </tr>
              <tr class="decimal-stats">
                <th scope="row" data-i18n="tokenstats_tokens_burned"></th>
                <td class="amount" id="tokenstats_tokens_burned">...</td>
              </tr>
              <tr class="decimal-stats">
                <th scope="row" data-i18n="tokenstats_circulating_supply"></th>
                <td class="amount" id="tokenstats_circulating_supply">...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="rounded_row">
    <div id="token-transactions-table-container" class="rounded box-shadow table-container loading">
      <h3 class="border-bottom border-gray"><span data-i18n="transactions"></span> (<span id="token_transactions_count">...</span>)</h3>
      <div class="table-responsive">
        <table class="table" id="token-transactions-table">
          <thead>
            <tr>
              <th data-i18n="txid"></th>
              <th data-i18n="type"></th>
              <th class="amount" data-i18n="amount"></th>
              <th data-i18n="block_height"></th>
              <th data-i18n="block_time"></th>
            </tr>
          </thead>
          <tbody>
            <tr><td data-i18n="loading"></td></tr>
          </tbody>
        </table>
        <ul class="pagination">
        </ul>
      </div>
    </div>
  </div>
  
  <div class="rounded_row">
    <h3><span data-i18n="transactions_chart"></span> (<span id="token-usage-count">...</span>)</h3>
    <div class="plot-time-selector">
        <span id="plot-token-usage-year" data-i18n="year"></span>
        <span id="plot-token-usage-month" data-i18n="month"></span>
        <span id="plot-token-usage-week" data-i18n="week"></span>
        <span id="plot-token-usage-day" data-i18n="day"></span>
    </div>
    <div id="plot-token-usage" style="width:100%" data-i18n="loading"></div>
  </div>
  
  <% if (token.tokenDetails.versionType === 129) { %>
    <div class="rounded_row">
      <div id="token-child-nfts-table-container" class="rounded box-shadow table-container">
        <h3 data-i18n="child_nfts"></h3>
        <div class="table-responsive">
          <table class="table" id="token-child-nfts-table">
            <thead>
              <tr>
                <th data-i18n="token_id"></th>
                <th data-i18n="symbol"></th>
                <th data-i18n="name"></th>
                <th data-i18n="block_height"></th>
              </tr>
            </thead>
            <tbody>
              <tr><td data-i18n="loading"></td></tr>
            </tbody>
          </table>
          <ul class="pagination">
          </ul>
        </div>
      </div>
    </div>
  <% } %>
  
  <div class="rounded_row">
    <div id="token-mint-history-table-container" class="rounded box-shadow table-container loading">
      <h3><span data-i18n="mint_history"></span> (<span id="total_token_mint_transactions">...</span>)</h3>
      <div class="table-responsive">
        <table class="table" id="token-mint-history-table">
          <thead>
            <tr>
              <th data-i18n="txid"></th>
              <th data-i18n="type"></th>
              <th class="amount" data-i18n="amount"></th>
              <th data-i18n="block_height"></th>
              <th data-i18n="block_time"></th>
            </tr>
          </thead>
          <tbody>
            <tr><td data-i18n="loading"></td></tr>
          </tbody>
        </table>
        <ul class="pagination">
        </ul>
      </div>
    </div>
  </div>
  
  <div class="rounded_row">
    <div id="token-addresses-table-container" class="rounded box-shadow table-container loading">
      <h3 class="border-bottom border-gray"><span data-i18n="addresses"></span> (<span id="token_addresses_count">...</span>)</h3>
      <div class="table-responsive">
        <table class="table" id="token-addresses-table">
          <thead>
            <tr>
              <th data-i18n="address"></th>
              <th class="amount" data-i18n="token_balance"></th>
            </tr>
          </thead>
          <tbody>
            <tr><td data-i18n="loading"></td></tr>
          </tbody>
        </table>
        <ul class="pagination">
        </ul>
      </div>
    </div>
  </div>
  
  <div class="rounded_row">
    <h3 data-i18n="rich_list"></h3>
    <div id="plot-token-address-rich" style="width:100%"></div>
  </div>
  
  <div class="rounded_row">
    <div id="token-burn-history-table-container" class="rounded box-shadow table-container loading">
      <h3><span data-i18n="burn_history"></span> (<span id="total_token_burn_transactions">...</span>)</h3>
      <div class="table-responsive">
        <table class="table" id="token-burn-history-table">
          <thead>
            <tr>
              <th data-i18n="txid"></th>
              <th class="amount" data-i18n="amount"></th>
              <th data-i18n="block_height"></th>
              <th data-i18n="block_time"></th>
            </tr>
          </thead>
          <tbody>
            <tr><td data-i18n="loading"></td></tr>
          </tbody>
        </table>
        <ul class="pagination">
        </ul>
      </div>
    </div>
  </div>
</div> 
