<tr>
  <td><a class="txid" href="/#tx/<%= tx.tx.h %>"><%= app.util.compress_txid(tx.tx.h) %></a></td>
  <td><%= tx.slp.detail.transactionType %></td>
  <td class="amount"><%= app.util.format_bignum_str(tx.slp.detail.outputs[0].amount, tx.slp.detail.decimals) %></td>
  <td>
    <% if (tx.blk) { %>
      <a href="#block/<%= tx.blk.i %>"><%= tx.blk.i %></a>
    <% } else { %>
      <a href="#block/mempool">Pending</a>
    <% } %>
  </td>
  <td><% if (tx.blk) { %><%= new Date(tx.blk.t*1000).toLocaleString() %><% } else { %>Pending<% } %></td>
</tr>
