<tr>
  <td>
    <a class="txid" href="/#tx/<%= tx.graphTxn.txid %>"><%= app.util.compress_txid(tx.graphTxn.txid) %></a>
    <button class="copybtn" data-clipboard-text="<%= tx.graphTxn.txid %>"></button>
  </td>
  <td class="amount">
    <%= app.util.format_bignum_str(total_burnt) %>
  </td>
  <td>
    <% if (tx.tx && tx.tx.blk) { %>
      <a href="#block/<%= tx.tx.blk.i %>"><%= tx.tx.blk.i %></a>
    <% } else { %>
      <a href="#block/mempool" data-i18n="pending">Pending</a>
    <% } %>
  </td>
  <td>
    <% if (tx.tx && tx.tx.blk) { %>
      <%= new Date(tx.tx.blk.t*1000).toLocaleString() %>
    <% } else { %>
      <span data-i18n="pending">Pending</span>
    <% } %>
  </td>
</tr>

