<div class="transaction_box">
  <div>
    <div class="token-icon-large left" data-tokenid="<%= token.tokenDetails.tokenIdHex %>"></div>
    <div>
      <h2 class="text-white">
        <% if (token.tokenDetails.symbol) { %>
          <%= token.tokenDetails.symbol %>
        <% } else if (token.tokenDetails.name !== '') { %>
          <%= token.tokenDetails.name %>
        <% } %>
        Token
      </h2>
    </div>
    <h6><%= token.tokenDetails.tokenIdHex %></h6>
    <a target="_blank" href="https://explorer.bitcoin.com/bch/tx/<%= token.tokenDetails.tokenIdHex %>">
      <button type="button" class="button button_green right">View on BCH Explorer</button>
    </a>
  </div>
</div>

<div class="rounded_row_50percent_container">
  <div class="rounded_row">
    <div id="token-details-table-container" class="rounded box-shadow table-container">
      <div class="table-responsive">
        <table class="table" id="token-details-table">
          <thead>
            <tr>
              <td>
                  <h3>Details</h3>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Token Id</th>
              <td><a class="tokenid" href="/#token/<%= token.tokenDetails.tokenIdHex %>"><%= token.tokenDetails.tokenIdHex %></a></span></td>
            </tr>
            <tr>
              <th scope="row">Version</th>
              <td>
              <% if(token.tokenDetails.versionType === 1) { %>Type1<% } %>
              <% if(token.tokenDetails.versionType === 129) { %>NFT1-Group<% } %>
              <% if(token.tokenDetails.versionType === 65) { %>
                <a href="/#token/<%= token.nftParentId %>">NFT1-Child [view parent]</a>
              <% } %>
              </td>
            </tr>
            <tr>
              <th scope="row">Name</th>
              <td><%= token.tokenDetails.name %></td>
            </tr>
            <tr>
              <th scope="row">Symbol</th>
              <td><%= token.tokenDetails.symbol %></td>
            </tr>
            <tr>
              <th scope="row">Timestamp</th>
              <td>
                <% if (token.tokenDetails.timestamp_unix === null) { %>
                  Pending
                <% } else { %>
                  <%= new Date(token.tokenDetails.timestamp_unix*1000).toLocaleString() %>
                <% } %>
              </td>
            </tr>
            <tr>
              <th scope="row">Decimals</th>
              <td><%= token.tokenDetails.decimals %></td>
            </tr>
            <tr>
              <th scope="row">Document URI</th>
              <td>
                <% if (token.tokenDetails.documentUri) { %>
                  <% const url = app.util.document_link(token.tokenDetails.documentUri); %>
                  <% if (url.length) { %>
                    <a href="<%= url %>" target="blank"><%= token.tokenDetails.documentUri %></a>
                  <% } else { %>
                    <%= token.tokenDetails.documentUri %>
                  <% } %>
                <% } %>
              </td>
            </tr>
            <tr>
              <th scope="row">Document Checksum</th>
              <td><span class="mono word-break-all"><%= token.tokenDetails.documentSha256Hex %></span></td>
            </tr>
            <tr>
              <th scope="row">Verified</th>
              <td>
                <% if (app.util.is_verified(token.tokenDetails.tokenIdHex)) { %>
                  ✔
                <% } else { %>
                  …
                <% } %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <%
        const exchange_links = app.util.get_exchange_links(token.tokenDetails.tokenIdHex);
        if (exchange_links.length > 0) {
      %>
        <hr>

        <div>
          <!-- <div id="token-exchange-title">Exchange</div> -->
          <div id="token-exchange-exchanges">
            <% for(let m of exchange_links) { %>
              <a href="<%= m.link %>" target="blank"><div class="exchange-icon <%= m.class %>"></div></a>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="rounded_row">
    <div id="token-stats-table-container" class="rounded box-shadow table-container">
      <div class="table-responsive">
        <table class="table" id="token-stats-table">
          <thead>
            <tr>
              <td>
                  <h3>Stats</h3>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Block Created</th>
              <td>
                <% if (token.tokenStats.block_created !== null) { %>
                  <a href="#block/<%= token.tokenStats.block_created %>"><%= token.tokenStats.block_created %></a>
                <% } else { %>
                  <a href="#block/mempool">Pending</a>
                <% } %>
              </td>
            </tr>
            <tr>
              <th scope="row">Block Last Active Send</th>
              <td>
                <% if (token.tokenStats.block_last_active_send !== null) { %>
                  <a href="#block/<%= token.tokenStats.block_last_active_send %>"><%= token.tokenStats.block_last_active_send %></a>
                <% } %>
              </td>
            </tr>
            <tr>
              <th scope="row">Block Last Active Mint</th>
              <td>
                <% if (token.tokenStats.block_last_active_mint !== null) { %>
                  <a href="#block/<%= token.tokenStats.block_last_active_mint %>"><%= token.tokenStats.block_last_active_mint %></a>
                <% } else { %>
                  Never
                <% } %>
              </td>
            </tr>
            <tr>
              <th scope="row">Minting Baton Status</th>
              <td>
                <%= token.tokenStats.minting_baton_status.toLowerCase().split('_').map(v => v[0].toUpperCase() + v.substring(1).toLowerCase()).join(' ') %>
              </td>
            </tr>
            <% if (token.mintBatonUtxo && token.mintBatonUtxo.split(':').length === 2) { %>
            <tr>
              <th scope="row">Minting Baton UTXO</th>
              <td>
                <a href="#tx/<%= token.mintBatonUtxo.split(':')[0] %>"><%= token.mintBatonUtxo %></a>
              </td>
            </tr>
            <% } %>
            <tr>
              <th scope="row">Valid Txns Since Genesis</th>
              <td><%= Number(token.tokenStats.qty_valid_txns_since_genesis).toLocaleString() %></td>
            </tr>
            <tr>
              <th scope="row">Valid Token Utxos</th>
              <td><%= Number(token.tokenStats.qty_valid_token_utxos).toLocaleString() %></td>
            </tr>
            <tr>
              <th scope="row">Valid Token Addresses</th>
              <td><%= Number(token.tokenStats.qty_valid_token_addresses).toLocaleString() %></td>
            </tr>
            <tr>
              <th scope="row">Tokens Minted</th>
              <td><%= app.util.format_bignum_str(token.tokenStats.qty_token_minted, token.tokenDetails.decimals) %></td>
            </tr>
            <tr>
              <th scope="row">Tokens Burned</th>
              <td><%= app.util.format_bignum_str(token.tokenStats.qty_token_burned, token.tokenDetails.decimals) %></td>
            </tr>
            <tr>
              <th scope="row">Circulating Supply</th>
              <td><%= app.util.format_bignum_str(token.tokenStats.qty_token_circulating_supply, token.tokenDetails.decimals) %></td>
            </tr>
            <tr>
              <th scope="row">Satoshis Locked Up</th>
              <td><%= new BigNumber(token.tokenStats.qty_satoshis_locked_up).toFixed() %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="rounded_row_50percent_container">
  <div class="rounded_row">
    <div id="token-transactions-table-container" class="rounded box-shadow table-container">
      <h3 class="border-bottom border-gray">Transactions</h3>
      <div class="table-responsive">
        <table class="table" id="token-transactions-table">
          <thead>
            <tr>
              <th>Txid</th>
              <th>Type</th>
              <th class="amount">Amount</th>
              <th>Block Height</th>
              <th>Block Time</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Loading...</td></tr>
          </tbody>
        </table>
        <ul class="pagination">
        </ul>
      </div>
    </div>
  </div>

  <div class="rounded_row">
    <h3>Monthly Transaction Graph</h3>
    <div id="plot-token-monthly-usage" style="width:100%"></div>
  </div>

  <div class="clearfix"></div>
</div>

<% if (token.tokenDetails.versionType === 129) { %>
  <div class="rounded_row">
    <div id="token-child-nfts-table-container" class="rounded box-shadow table-container">
      <h3>Child NFTs</h3>
      <div class="table-responsive">
        <table class="table" id="token-child-nfts-table">
          <thead>
            <tr>
              <th>Token Id</th>
              <th>Symbol</th>
              <th>Name</th>
              <th>Block Height</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Loading...</td></tr>
          </tbody>
        </table>
        <ul class="pagination">
        </ul>
      </div>
    </div>
  </div>
<% } %>

<div class="rounded_row">
  <div id="token-mint-history-table-container" class="rounded box-shadow table-container">
    <h3>Mint History</h3>
    <div class="table-responsive">
      <table class="table" id="token-mint-history-table">
        <thead>
          <tr>
            <th>Txid</th>
            <th>Type</th>
            <th class="amount">Amount</th>
            <th>Block Height</th>
            <th>Block Time</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Loading...</td></tr>
        </tbody>
      </table>
      <ul class="pagination">
      </ul>
    </div>
  </div>
</div>

<div class="rounded_row_50percent_container">
  <div class="rounded_row">
    <div id="token-addresses-table-container" class="rounded box-shadow table-container">
      <h3 class="border-bottom border-gray">Addresses</h3>
      <div class="table-responsive">
        <table class="table" id="token-addresses-table">
          <thead>
            <tr>
              <th>Address</th>
              <th class="amount">Token Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Loading...</td></tr>
          </tbody>
        </table>
        <ul class="pagination">
        </ul>
      </div>
    </div>
  </div>

  <div class="rounded_row">
    <h3>Rich List</h3>
    <div id="plot-token-address-rich" style="width:100%"></div>
  </div>

  <div class="clearfix"></div>
</div>

<div class="rounded_row">
  <div id="token-burn-history-table-container" class="rounded box-shadow table-container">
    <h3>Burn History</h3>
    <div class="table-responsive">
      <table class="table" id="token-burn-history-table">
        <thead>
          <tr>
            <th>Txid</th>
            <th class="amount">Amount Burnt</th>
            <th>Block Height</th>
            <th>Block Time</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Loading...</td></tr>
        </tbody>
      </table>
      <ul class="pagination">
      </ul>
    </div>
  </div>
</div>

