<div class="row super-wrapper">
  <div class="transaction_box">
    <div>
      <div class="token-icon-large left" data-tokenid="<%= tx.slp.detail.tokenIdHex %>"></div>
      <div>
        <h2 class="text-white">
          <% if (token.tokenDetails.symbol) { %>
            <%= token.tokenDetails.symbol %>
          <% } else if (token.tokenDetails.name !== '') { %>
            <%= token.tokenDetails.name %>
          <% } %>
  
          <span class="capitalized"><%= app.util.transaction_type_trans(tx.slp.detail.transactionType) %></span>
  
          <span data-i18n="transaction"></span>
        </h2>
        <h6>
          <%= tx.tx.h %>
          <button class="copybtn" data-clipboard-text="<%= tx.tx.h %>"></button>
        </h6>
        <a target="_blank" href="https://explorer.bitcoin.com/bch/tx/<%= tx.tx.h %>">
          <button type="button" class="button right" data-i18n="view_on_bch_explorer"></button>
        </a>
      </div>
    </div>
  </div>
  
  <div class="rounded_row_50percent_container">
    <div class="rounded_row">
      <div class="col-md-6">
        <div class="rounded box-shadow table-container" id="token-details-table-container">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><h3 data-i18n="details"></h3></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th role="col" data-i18n="type"></th>
                  <td class="capitalized"><%= app.util.transaction_type_trans(tx.slp.detail.transactionType) %></td>
                </tr>
                <tr>
                  <th role="col" data-i18n="block"></th>
                  <td>
                    <% if (tx.blk) { %>
                      <a href="/#block/<%= tx.blk.i %>"><%= tx.blk.i %></a>
                    <% } else { %>
                      <a href="/#block/mempool" data-i18n="pending"></a>
                    <% } %>
                  </td>
                </tr>
                <tr>
                  <th role="col" data-i18n="block_time"></th>
                  <td>
                    <% if (tx.blk) { %>
                      <%= new Date(tx.blk.t*1000).toLocaleString() %>
                    <% } else { %>
                      <span data-i18n="pending"></span>
                    <% } %>
                  </td>
                </tr>
                <tr>
                  <th role="col" data-i18n="txid"></th>
                  <td>
                    <a class="txid" href="/#tx/<%= tx.tx.h %>"><%= tx.tx.h %></a>
                    <button class="copybtn" data-clipboard-text="<%= tx.tx.h %>"></button>
                  </td>
                </tr>
    
                <% if (tx.slp.detail.transactionType == 'GENESIS') { %>
                  <tr>
                    <th role="col" data-i18n="creator"></th>
                    <td>
                      <a class="address" href="/#address/<%= tx.slp.detail.outputs[0].address %>"><%= tx.slp.detail.outputs[0].address %></a>
                      <button class="copybtn" data-clipboard-text="<%= tx.slp.detail.outputs[0].address %>"></button>
                    </td>
                  </tr>
                <% } %>
                <tr>
                  <th scope="row" data-i18n="token_id"></th>
                  <td>
                    <a class="tokenid" href="/#token/<%= tx.slp.detail.tokenIdHex %>"><%= tx.slp.detail.tokenIdHex %></a>
                    <button class="copybtn" data-clipboard-text="<%= tx.slp.detail.tokenIdHex %>"></button>
                  </td>
                </tr>
                <tr>
                  <th scope="row" data-i18n="version"></th>
                  <td>
                  <% if(token.tokenDetails.versionType === 1) { %><span data-i18n="type1"></span><% } %>
                  <% if(token.tokenDetails.versionType === 129) { %><span data-i18n="nft1_group"></span><% } %>
                  <% if(token.tokenDetails.versionType === 65) { %>
                    <a href="/#token/<%= token.nftParentId %>"><span data-i18n="nft1_child"></span></a>
                  <% } %>
                  </td>
                </tr>
                <tr>
                  <th scope="row" data-i18n="name"></th>
                  <td><%= token.tokenDetails.name %></td>
                </tr>
                <tr>
                  <th scope="row" data-i18n="symbol"></th>
                  <td><%= token.tokenDetails.symbol %></td>
                </tr>
                <tr>
                  <th scope="row" data-i18n="verified"></th>
                  <td>
                    <% if (app.util.is_verified(token.tokenDetails.tokenIdHex)) { %>
                      <img src="/img/verified-checkmark.png">
                    <% } else { %>
                      <img src="/img/verified-empty.png">
                    <% } %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="rounded_row" id="txgraph-container"></div>
  </div>
  
  
  <div class="rounded_row_50percent_container">
    <div class="rounded_row">
      <div class="input_output" id="inputs-list">
        <div class="rounded box-shadow table-container">
          <% if (tx.slp.detail.transactionType !== 'GENESIS') { %>
            <h3><span data-i18n="inputs"></span> (<%= Number(Object.keys(input_amounts).length).toLocaleString() %>)</h3>
            <div class="table-responsive">
              <table class="table fixed-header">
                <thead>
                  <tr>
                    <th data-i18n="tx"></th>
                    <th class="amount" data-i18n="amount"></th>
                    <th data-i18n="address"></th>
                  </tr>
                </thead>
                <tbody>
                  <% if (tx.slp.detail.transactionType == 'SEND' || tx.slp.detail.transactionType == 'MINT') { %>
                    <% for (let m of tx.in) { %>
                      <% if (input_amounts[m.e.h+':'+m.e.i]) { %>
                        <tr>
                          <td><a class="txid" href="/#tx/<%= m.e.h %>/o<%= m.e.i %>" style="font-weight:bold">&larr;</a></td>
                          <td class="amount">
                            <% if(tx.slp.detail.transactionType == 'MINT' && m.e.i == tx.slp.detail.txnBatonVout) { %>
                                <span data-i18n="mint_baton">Mint Baton</span>
                            <% } else { %>
                                <%= app.util.format_bignum_str(input_amounts[m.e.h+':'+m.e.i], token.tokenDetails.decimals)  %>
                            <% } %>
                          </td>
                          <td>
                            <% if (typeof m.e.a !== 'undefined') { %>
                              <a class="address" href="/#address/<%= bchaddr.toSlpAddress(m.e.a) %>"><%= bchaddr.toSlpAddress(m.e.a) %></a>
                              <button class="copybtn" data-clipboard-text="<%= bchaddr.toSlpAddress(m.e.a) %>"></button>
                            <% } else { %>
                              <span data-i18n="slpdb_address_error"></span>
                            <% } %>
                          </td>
                        </tr>
                      <% } %>
                    <% } %>
                  <% } %>
                  <% if (Object.keys(input_amounts).length === 0) { %>
                    <tr>
                      <td data-i18n="no_inputs"></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          <% } else { %>
            <h3 data-i18n="genesis"></h3>
            <p data-i18n="genesis_description"><br>NFT1 Child transactions can see the input from looking at the Version row in the Token Details pane.</p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="rounded_row">
        <div class="input_output" id="outputs-list">
          <div class="rounded box-shadow table-container">
            <h3><span data-i18n="outputs"></span> (<%= Number(tx.graph[0].graphTxn.outputs.length).toLocaleString() %>)</h3>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th data-i18n="tx"></th>
                    <th class="amount" data-i18n="amount"></th>
                    <th data-i18n="address"></th>
                  </tr>
                </thead>
                <tbody>
                  <% if (tx.graph[0].graphTxn.outputs.length > 0) { %>
                    <% for (let m of tx.graph[0].graphTxn.outputs) { %>
                      <% let burnt = false; switch (m.status) {
                        case 'BATON_UNSPENT':
                        case 'BATON_SPENT_IN_MINT':
                        case 'UNSPENT':
                        case 'SPENT_SAME_TOKEN':
                      %>
                      <tr>
                      <% break; default: burnt = true; %>
                        <tr class="burnt-tx">
                      <% break; } %>
                        <td>
                          <% if (m['spendTxid']) { %>
                            <a class="txid" href="/#tx/<%= m['spendTxid'] %>/i<%= m['spendVout'] %>" style="font-weight:bold">
                              <% if (burnt) { %>
                                &#62;:D
                              <% } else { %>
                                &#10004;
                              <% } %>
                            </a>
                          <% } else if (burnt) { %>
                            <a class="txid" style="font-weight:bold">
                              &#62;:D
                            </a>
                          <% } %>
                        </td>
                        <td class="amount">
                          <% if (m.status === 'BATON_UNSPENT' || m.status ==='BATON_SPENT_IN_MINT') { %>
                            <span class="amount" data-i18n="mint_baton">Mint Baton</span>
                          <% } else { %>
                            <%= app.util.format_bignum_str(m.slpAmount, tx.slp.detail.decimals) %>
                          <% }%>
                        </td>
                        <td>
                          <% if (burnt) { %>
                            [burn: <%= m.status.split('_').map(v => v.toLowerCase()).join(' ') %>]
                          <% } else { %>
                            <a class="address" href="/#address/<%= m.address %>">
                              <%= m.address %>
                            </a>
                            <button class="copybtn" data-clipboard-text="<%= bchaddr.toSlpAddress(m.address) %>"></button>
                          <% } %>
                        </td>
                      </tr>
                    <% } %>
                  <% } else { %>
                    <tr>
                      <td data-i18n="no_outputs"></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
