<div class="transaction_box">
  <div>
    <div class="token-icon-large left" data-tokenid="<%= tx.slp.detail.tokenIdHex %>"></div>
    <div>
      <h2 class="text-white">
        <% if (token.tokenDetails.symbol) { %>
          <%= token.tokenDetails.symbol %>
        <% } else if (token.tokenDetails.name !== '') { %>
          <%= token.tokenDetails.name %>
        <% } %>
        Transaction
      </h2>
      <h6><%= tx.tx.h %></h6>
      <a href="#txgraph/<%= tx.tx.h %>">
        <button type="button" class="button button_red">View Graph</button>
      </a>
      <a target="_blank" href="https://explorer.bitcoin.com/bch/tx/<%= tx.tx.h %>">
        <button type="button" class="button button_green right">View on BCH Explorer</button>
      </a>
    </div>
  </div>
</div>

<div class="rounded_row_50percent_container">
  <div class="rounded_row">
    <div class="col-md-6">
      <div class="rounded box-shadow table-container">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><h3>Details</h3></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th role="col">Type</th>
                <td><%= tx.slp.detail.transactionType %></td>
              </tr>
              <tr>
                <th role="col">Block</th>
                <td>
                  <% if (tx.blk) { %>
                    <a href="#block/<%= tx.blk.i %>"><%= tx.blk.i %></a>
                  <% } else { %>
                    <a href="#block/mempool">Pending</a>
                  <% } %>
                </td>
              </tr>
              <tr>
                <th role="col">Txid</th>
                <td><a class="txid" href="#tx/<%= tx.tx.h %>"><%= tx.tx.h %></a></td>
              </tr>
  
              <% if (tx.slp.detail.transactionType == 'GENESIS') { %>
                <tr>
                  <th role="col">Creator</th>
                  <td><a class="address" href="#address/<%= tx.slp.detail.outputs[0].address %>"><%= tx.slp.detail.outputs[0].address %></a></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="rounded_row">
    <div class="col-md-6">
      <div id="token-details-table-container" class="rounded box-shadow table-container">
        <div class="table-responsive">
          <table class="table" id="token-details-table">
            <thead>
              <tr>
                <td>
                    <h3>Token Details</h3>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Token Id</th>
                <td><a class="tokenid" href="/#token/<%= tx.slp.detail.tokenIdHex %>"><%= tx.slp.detail.tokenIdHex %></a></td>
              </tr>
              <tr>
                <th scope="row">Name</th>
                <td><%= token.tokenDetails.name %></td>
              </tr>
              <tr>
                <th scope="row">Symbol</th>
                <td><%= token.tokenDetails.symbol %></td>
              </tr>
              <tr>
                <th scope="row">Timestamp</th>
                <td><%= new Date(token.tokenDetails.timestamp_unix*1000).toLocaleString() %></td>
              </tr>
              <tr>
                <th scope="row">Quantity</th>
                <td><%= Number(token.tokenDetails.genesisOrMintQuantity).toLocaleString() %></td>
              </tr>
              <tr>
                <th scope="row">Decimals</th>
                <td><%= token.tokenDetails.decimals %></td>
              </tr>
              <tr>
                <th scope="row">Document URI</th>
                <td>
                  <% if (token.tokenDetails.documentUri) { %>
                    <% const url = app.util.document_link(token.tokenDetails.documentUri); %>
                    <% if (url.length) { %>
                      <a href="<%= url %>"><%= token.tokenDetails.documentUri %></a>
                    <% } else { %>
                      <%= token.tokenDetails.documentUri %>
                    <% } %>
                  <% } %>
                </td>
              </tr>
              <tr>
                <th scope="row">Document Checksum</th>
                <td><%= token.tokenDetails.documentSha256Hex %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>


<div class="rounded_row_50percent_container">
  <div class="rounded_row">
    <div class="input_output">
      <div class="rounded box-shadow table-container">
        <h3>Inputs</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Tx</th>
                <th class="amount">Amount</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <% for (let m of tx.in) { %>
                <% if (input_amounts[m.e.h+':'+m.e.i]) { %>
                  <tr>
                    <td><a class="txid" href="/#tx/<%= m.e.h %>" style="font-weight:bold">&larr;</a></td>
                    <td class="amount">
                      <%= input_amounts[m.e.h+':'+m.e.i] %>
                    </td>
                    <td><a class="address" href="/#address/<%= slpjs.Utils.toSlpAddress(m.e.a) %>"><%= slpjs.Utils.toSlpAddress(m.e.a) %></a></td>
                  </tr>
                <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded_row">
      <div class="input_output">
        <div class="rounded box-shadow table-container">
          <h3>Outputs</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="amount">Amount</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <% if (tx.slp.detail.transactionType == 'SEND') { %>
                  <% for (let m of tx.slp.detail.outputs) { %>
                    <tr>
                      <td class="amount"><%= m.amount %></td>
                      <td><a class="address" href="/#address/<%= m.address %>"><%= m.address %></a></td>
                    </tr>
                  <% } %>
                <% } else { %>
                    <tr>
                      <td>No outputs.</td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  <div class="clearfix"></div>
</div>
